.inputText {
  position: relative !important;
}

.formControl :global(.MuiInputBase-root) {
  position: relative !important;
  background-color: white;
  border: var(--light-border);
  border-radius: 4px;
}

.formControl :global(.MuiInputBase-root.Mui-focused) {
  box-shadow: var(--form-control-box-shadow);
  background-color: white;
}

.formControl :global(.MuiInputLabel-root) {
  font-weight: 500;
  color: var(--gray-color);
}

.formControl :global(.MuiInputBase-input) {
  color: var(--gray-color);
}

.formControl :global(.MuiInputBase-input) {
  color: var(--gray-color);
}

.formControl :global(.MuiOutlinedInput-notchedOutline) {
  border: none;
}

.menuItem {
  background-color: white !important;
  color: var(--gray-color) !important;
  padding-bottom: 15px !important;
}

.menuItem:hover {
  background-color: #eeeeee !important;
  color: var(--black-color) !important;
}

.menuItem:global(.Mui-selected) {
  background-color: #eeeeee !important;
  color: var(--gray-color) !important;
  font-weight: 500;
}

.menuItem:global(.Mui-selected):hover {
  background: none;
  color: var(--gray-color) !important;

}

.helperText {
  color: var(--red-color) !important;
  font-size: 12px !important;
  margin-top: 4px !important;
  margin-left: 0 !important;
}
