* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

:root {
  --primary-color: #4175ee;
  --black-color: #212121;
  --red-color: #E03137;
  --gray-color: #757575;
  --placeholder-color: #adadad;
  --primary-font: var(--font-open-sans);
  --form-control-box-shadow: #4175ee7a 0px 1px 1px;

  /* ROOT LIGHT MODE */
  --light-card-background: #ffffff;
  --light-box-shadow: rgba(146, 146, 146, 0.05) 0px 6px 30px 0px,
    rgba(182, 182, 182, 0.08) 0px 0px 0px 1px;
  --light-border: 1px solid #e9eaec;

  
} 
